/* Add this for the highlighter */
.zone-highlight {
    background-color: rgba(78, 154, 249, 0.2); /* A semi-transparent blue */
    border: 2px solid rgba(78, 154, 249, 0.6);
    border-radius: 6px;
    /* transition: opacity 100ms ease-out, all 50ms ease-out; */ /* Optional: for smoother transitions */
}

/* stylesheet.css */

.zone-tab-bar {
    background-color: rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    height: 32px;
    transition: opacity 200ms ease-out;
    z-index: 999;
}

.zone-tab-bar > .zone-tab {
    padding: 4px 10px;
    margin-right: 5px;
    border-radius: 10px 10px 0 0;
    background-color: rgba(50, 50, 50, 0.8);
    color: #ffffff;
    font-size: 13px;
    min-height: 24px;
    line-height: 24px;
}

.zone-tab-bar > .zone-tab:hover {
    background-color: rgba(78, 154, 249, 0.6);
    cursor: pointer;
}

.zone-tab.active {
    background-color: rgba(78, 154, 249, 0.8);
    color: #000000;
}

